<!DOCTYPE html>
<html lang="en"
      html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      >
<head>
    <meta charset="UTF-8"/>
    <title>JBank</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/myStyle.css"
          th:href="@{/css/myStyle.css}"/>

</head>
<body>
<header>
    <div class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/comptes}">Compte</a></li>
                <li><a th:href="@{/nouveau}">Client</a></li>
            </ul>
            <ul class="nav navbar navbar-nav navbar-right">
                <li><a th:href="@{/login?logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</header>
<section layout:fragment="content">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Consultation de Compte</div>
            <div class="panel-body">
            <form th:action = "@{/consulter}" method="get" >
                <div>
                    <label>Numero de Compte</label>
                    <input type="text" name="Compte" th:value="${numCompte}">
                    <button type="submit" class="btn btn-primary">Ok</button>
                </div>
            </form>
                <div class="text-danger" th:if="${exception}" th:utext="${exception.message}">

                </div>
            </div>
        </div>

        <div class="panel panel-primary" th:if="${compte}">
            <div class="panel-heading">Information de Compte</div>
            <div class="panel-body">
                <div>
                    <label>Nom:</label>
                    <label th:utext="${compte.client.nom}"></label>
                </div>
                <div>
                    <label>Prenom:</label>
                    <label th:utext="${compte.client.prenom}"></label>
                </div>
                <div>
                    <label>Numero de compte:</label>
                    <label th:utext="${compte.numCompte}"></label>
                </div>
                <div>
                    <label>Solde:</label>
                    <label th:utext="${compte.solde}"></label>
                </div>


            </div>
        </div>
    </div>
    <div class="col-md-6" >

        <div class="panel panel-primary"th:if="${compte}">
            <div class="panel-heading">Operation sur le  Compte</div>
            <div class="panel-body">
                <form th:action="@{/saveOp}" method="post">
                    <div>
                        <label>Compte:</label>
                        <input type="hidden" name="Compte" th:value="${compte.numCompte}">
                        <label th:utext="${compte.numCompte}"></label>
                    </div>
                   <!-- <div>
                        <label>De:</label>
                        <input type="text" name="Compte" th:value="${compte.numCompte}">
                    </div>-->
                    <div>
                        <label>Vers:</label>
                        <input type="text" name="numCompte2">
                    </div>
                    <!--<div>
                        <label>Nom</label>
                        <input type="text" name="Compte2" >
                    </div>
                    <div>
                        <label>Prenom</label>
                        <input type="text" name="Compte2" >
                    </div>-->
                    <div>
                        <label>Montant</label>
                        <input type="text" name="montant">
                    </div>
                    <div class="text-danger"  th:text="${#httpServletRequest.getParameter('error')}">

                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>

        <div class="panel panel-primary" th:if="${compte}">
            <div class="panel-heading">Liste des Operations</div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tr>
                        <th>Num</th><th>Date</th><th>Montant</th>
                    </tr>
                    <tr th:each="o:${listOp}">
                        <td th:utext="${o.id}"></td>
                        <td th:utext="${o.dateOp}"></td>
                        <td th:utext="${o.montant}"></td>
                    </tr>
                </table>
                <div class="container">
                    <ul class="nav nav-pills">
                        <li th:each="p,status:${pages}">
                            <a th:utext="${status.index}"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>
<footer>
    <div class="navbar-fixed-bottom">
        <small>JBank</small>
    </div>
</footer>
</body>
</html>