<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<title>Nouveau compte</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	


<script src="js/script.js"></script>

<link rel="stylesheet" type="text/css" href="css/bootsrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="css/style.css"
	th:href="@{css/style.css}" />
</head>
<body>
<header>
	<div class="navbar navbar-default">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
				<li><a th:href="@{/comptes}">Compte</a></li>
				<li><a th:href="@{/creerCompte}">Client</a></li>
			</ul>
			<ul class="nav navbar navbar-nav navbar-right">
				<li><a th:href="@{/login?logout}">Logout</a></li>
			</ul>
		</div>
	</div>
</header>

	<div class="container">
		<p></p>
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-primary">
				<div class="panel-heading">Créer un nouveau compte</div>
				<div class="panel-body">
					<form th:action="@{/create}" method="post">
						<div class="form-group">
							<label class="control-label">Nom</label> <input
								class="form-control" type="text" name="nom">
						</div>
						<div class="form-group">
							<label class="control-label">Prenom</label> <input
								class="form-control" type="text" name="prenom">
						</div>
						<div class="form-group">
							<label class="control-label">Numero</label> <input
								class="form-control" type="text" name="num">
						</div>
						<div class="form-group">
							<label class="control-label">Email</label> <input
								class="form-control" type="text" name="email">
						</div>
						<div class="form-group">
							<label class="control-label">Date de naissance</label> <input
								class="form-control" type="text" name="naissance">
						</div>
						<div class="form-group">
							<label class="control-label">Nationalite</label> <input
								class="form-control" type="text" name="nationalite">
						</div>
						<div class="form-group">
							<label class="control-label">Solde Initial</label> <input
								class="form-control" type="text" name="solde">
						</div>
						<div class="form-group">
							<label class="control-label">Numero de compte</label> <input
								class="form-control" type="text" name="numCompte">
						</div>
						<div class="form-group">
							<label class="control-label">Mot de passe</label> <input
								class="form-control" type="text" name="mdp">
						</div>
						<div class="text-danger" th:if="${exception}" th:utext="${exception.message}"></div>
						<div class="form-group">
							<br>
							<button class="btn btn-default">
								<a th:href="@{/comptes}">Annuler</a>
							</button>
							&nbsp;&nbsp;
							<button class=" btn btn-primary">Ajouter</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>