<!DOCTYPE html>
<html lang="en"
      html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>JBank</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/myStyle.css"
          th:href="@{/css/myStyle.css}"/>

</head>
<body>
<header>
    <div class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/comptes}">Compte</a></li>
                <li><a th:href="@{/clients}">Client</a></li>
                <li><a th:href="@{/operations}">Operation</a></li>
            </ul>
        </div>
    </div>
</header>
<section layout:fragment="content"></section>
<footer>
    <div class="navbar-fixed-bottom">
        <small>JBank</small>
    </div>
</footer>
</body>
</html>
